# Librairies

In [119]:
import os
import pandas as pd

# Read File

Read imported files
Sources : https://www.kaggle.com/teajay/global-shark-attacks

In [120]:
initial_data=pd.read_csv('/Users/sandrine/desktop/prework/Projects_Ironhack/Shark_lab/attacks.csv',encoding='latin-1')
# use encoding = 'Latin-1 '

In [121]:
initial_data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [122]:
#Number of rows and columns
initial_data.shape

(25723, 24)

In [123]:
# check DataFrame info
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

**Analyze the DataFrame general information before starting

In [124]:
# function checking the Frequency of the different elements in each column of a dataframe
def freq_element_percolumn(data):
    cols=data.columns
    for i in cols:
        freq_per_element=pd.Series(data[i]).value_counts(normalize=True)*100
        print(f'Column studied is : {i}')
        display(freq_per_element)
    return

#freq_element_percolumn(initial_data)

In [125]:
# vérifier s'il y a des donnees manquantes dans les colonnes
initial_data.columns[initial_data.isnull().any()]

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [126]:
#Nbre de données manquantes par colonne/ Doublon avec infor

initial_data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

# CLEANING

#TO DO : Clean fatal, Species , Activity, Year

In [ ]:
# questions to answer : what are the species which attacks the most?

In [ ]:
# cleaning the column Titles to

In [93]:
#Deleting not necessary columns. Input dataframe,liste of columns to delete. Remove duplicates, clean column titles to avoid errors
# while working later
def clean_columns(data,cols):
    newdata=data.drop_duplicates()
    newdata=newdata.drop(cols,axis=1)
    newdata.columns
    return newdata

new_data=suppress_columns(initial_data,['Unnamed: 22','Unnamed: 23'])
display(new_data)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Cleaning of column Year

In [94]:
pd.Series(new_data['Year']).value_counts(normalize=True)*100

2015.0    2.269841
2017.0    2.158730
2016.0    2.063492
2011.0    2.031746
2014.0    2.015873
            ...
1801.0    0.015873
1638.0    0.015873
1834.0    0.015873
1723.0    0.015873
1786.0    0.015873
Name: Year, Length: 249, dtype: float64

In [116]:
# isolate missing values and display the associated rows
new_data[new_data.Year.isnull()]
# 12 rows concerned. 2 lignes has information(n187 and 6079). The other are empty.
# First find the year using the  reported date and use the pdf to fill in the missing information of the whole line when possible
new_data.Year.iloc[187]=2017
new_data['Fatal (Y/N)'].iloc[187]='N'
new_data.Year.iloc[6079]=1836
new_data['href formula'].iloc[6079]='http://www.sharkattackfile.net/spreadsheets/pdf_directory/1836.08.19.R-Whitehaven.pdf'
new_data['href'].iloc[6079]='http://www.sharkattackfile.net/spreadsheets/pdf_directory/1836.08.19.R-Whitehaven.pdf'
new_data['Fatal (Y/N)'].iloc[6079]='Y'
new_data[new_data.Year.isnull()]
#drop remaining rows by selecting the none null values of years
new_data=new_data[new_data.Year.notnull()]
# select the Year =0
new_data[new_data.Year==0] # 125 rows with a year =0 vs 6300 records. 1%. To be treated if sufficient time
# display date for Year =0 to see wether the date are 
pd.Series(new_data[new_data.Year==0].Date).value_counts() # compare with the year of full set. 
#Check the number of rows if we do buckets like 'before 1960 (2500 rows more than 1/3 of the lorws , before 1920)
# 125 rows with no exact date no change for the moment . Doing
new_data[new_data.Year==0].Date.to_list() # put the date for Year ==0 to see whether some records couldbe treated

['Ca. 214 B.C.',
 'Ca. 336.B.C..',
 '493 B.C.',
 'Ca. 725 B.C.',
 'Before 1939',
 '1990 or 1991',
 'Before 2016',
 'Before Oct-2009',
 'Before 1934',
 'Before 1934',
 '2009?',
 'Before 1930',
 '1880-1899',
 'Before 1909',
 'Before 2012',
 'Before 1916',
 'Between   1951-1963',
 'Before 1908',
 'Before 1900',
 'Before 1876',
 'Before 2012',
 'Before 2011',
 'Before 2011',
 'Before 2009',
 'Beforer 1994',
 'Before 1963',
 '1896-1913',
 'Before 1936',
 'Before 08-Jun-1912',
 'Before 2012',
 'Before 1911',
 'Before 1901',
 'No date, late 1960s',
 'Before 2006',
 'Before 2003',
 'Before 2004',
 'Before 1962',
 '1950s',
 'No date, Before 1963',
 '2003?',
 'No date',
 'No date',
 'Before Feb-1998',
 'No date, Before May-1996',
 'No date, Before Mar-1995',
 'Before 1996',
 'No date, Before Aug-1989',
 'No date, Before Aug-1987',
 'No date, Before 1987',
 'No date, Before  1975',
 'No date, Before 1975',
 'No date, Before 1969',
 'No date, Before 3-Jan-1967',
 'No date, Before 1963',
 'No date, Before 8-May-1965',
 'No date, Before 1963',
 'No date, Before 1902',
 'No date, Before 1902',
 'No date, Before 1963',
 'No date, After August 1926 and before 1936',
 'No date, Before 1963',
 'Before 1962',
 'Before 1962',
 'Before 1961',
 '1960s',
 '1960s',
 '1960s',
 'Before 1960',
 'Before  19-Jun-1959',
 'Before  24 Apr-1959',
 'Before  1958',
 'Before  1958',
 'Before 1958',
 'Before 1958',
 'Before 1958',
 'Before 1958',
 'Before 1957',
 'Before 1957',
 'Before 1956',
 'Before 1956',
 'Before Mar-1956',
 'Before 1952',
 '1941-1945',
 '"During the war" 1943-1945',
 '"Before the war"',
 'Said to be 1941-1945, more likely 1945',
 '1941-1945',
 '1941-1945',
 '1941-1942',
 '1940 - 1950',
 '1940 - 1950',
 '1940 - 1950',
 '1940-1946',
 'Before 1905',
 'World War II',
 'World War II',
 'Before 1905',
 'A few years before 1938',
 'No date',
 'Early 1930s',
 'Before 1927',
 'Between 1918 & 1939',
 'No date',
 'No date',
 'No date',
 '1920 -1923',
 'Before 1921',
 'Before 1911',
 'Before 1921',
 'Before 1921',
 'Before 1917',
 'Before 17-Jul-1916',
 'No date (3 days after preceding incident) & prior to 19-Jul-1913',
 'Before 19-Jul-1913',
 'Before 1911',
 'Circa 1862',
 'Before 1906',
 'Before 1906',
 'Before 1906',
 'Before 1906',
 'Before 1903',
 'Before 1903',
 '1900-1905',
 '1883-1889',
 '1845-1853']

Cleaning Species columns

In [117]:
new_data[new_data.Species].value_counts(normalize=True)*100

AttributeError: 'DataFrame' object has no attribute 'Species'

In [118]:
new_data.Species.count()

AttributeError: 'DataFrame' object has no attribute 'Species'

# Helpfull formulas

In [110]:
new_data[new_data["Year"] < 1920]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
4539,1948.09.17.R,Reported 17-Sep-1848,1848.0,Unprovoked,TURKEY,Adana Province,Yumurtalik,Swimming,Ali Kaymaz,M,...,Y,NaN,NaN,"C. Moore, GSAF",1948.09.17.R-Kaymaz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1948.09.17.R,1948.09.17.R,1764.0
5263,1919.12.30.R,Reported 30-Dec-1919,1919.0,Unprovoked,AUSTRALIA,Queensland,Brible Island,Swimming,John Brothy,M,...,N,NaN,NaN,"Brisbane Courier, 12/30/1919",1919.12.30.R-Brothy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.12.30.R,1919.12.30.R,1040.0
5264,1919.12.07,07-Dec-1919,1919.0,Unprovoked,AUSTRALIA,New South Wales,"Pelican Island, Macleay River",Swimming,James Ridley,M,...,Y,05h30,NaN,"Sydney Morning Herald, 12/9/1919; V.M. Copples...",1919.12.07-Ridley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.12.07,1919.12.07,1039.0
5265,1919.11.18,18-Nov-1919,1919.0,Unprovoked,AUSTRALIA,Northern Territory,Darwin,Sitting in a boat,a sailor,M,...,N,NaN,NaN,G.P. Whitley; V.M. Coppleson (1933),1919.11.18-sailor.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.11.18,1919.11.18,1038.0
5266,1919.09.12,12-Sep-1919,1919.0,Unprovoked,COSTA RICA,Turtle Bogue,Where Colorado River enters the sea,Small vessel with 13 men on board capsized cro...,6 males,M,...,Y,NaN,NaN,"Pinchot, p.85-86",1919.09.12-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.09.12,1919.09.12,1037.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [100]:
# Replace NaN float to integer 0 in numeric table
#new_data['Year'].apply(int)

In [52]:
new_data['href formula'].iloc[187]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2017.01.08.R-KerryDaniel.pdf'

In [44]:
new_data[new_data.Year.isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
new_data.iloc[6079]

Case Number                                                    1836.08.19.R
Date                                                   Reported 19-Aug-1836
Year                                                                    NaN
Type                                                             Unprovoked
Country                                                             ENGLAND
Area                                                             Cumberland
Location                                                         Whitehaven
Activity                                                           Swimming
Name                                                                  a boy
Sex                                                                       M
Age                                                                     NaN
Injury                                                                FATAL
Fatal (Y/N)                                                               Y
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                       C. Moore, GSAF
pdf                                             1835.08.19.R-Whitehaven.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                  1836.08.19.R
Case Number.2                                                  1836.08.19.R
original order                                                          224
Name: 6079, dtype: object

In [49]:
new_data.Year.iloc[1]

2018.0

In [57]:
new_data['href'].iloc[6079]

'http://sharkattackfile.net/spreadsheets/pdf_directory/1835.08.19.R-Whitehaven.pdf'

In [111]:
#appeler les lignes pour lesquelles year =1999
set=new_data[new_data["Year"] == 1999]

In [142]:
pd.Series(list(new_data.columns)).str.lower().str.title().str.replace(' ','_').str.replace('Sex_','Sex').str.replace('Species_','Species')

0                Case_Number
1                       Date
2                       Year
3                       Type
4                    Country
5                       Area
6                   Location
7                   Activity
8                       Name
9                        Sex
10                       Age
11                    Injury
12               Fatal_(Y/N)
13                      Time
14                   Species
15    Investigator_Or_Source
16                       Pdf
17              Href_Formula
18                      Href
19             Case_Number.1
20             Case_Number.2
21            Original_Order
dtype: object